@import '../../variables';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: #ccc solid 1px;
  padding: 12px 24px;

  img {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 6px;
    width: 60px;
  }

  h3 {
    margin-bottom: 6px;
  }

  div {
    background: $dark-color;
    padding: 4px 8px;
    border-radius: 3px;
  }
  
  .link {
    color: white;
    font-size: 15px;
  }
}