@import url('https://fonts.googleapis.com/css?family=Roboto');

$background-color: #f5f5f5;
$secondary-color: #ebac34;
$white-color: #fff;
$text-color: #666464;
$asroon-color: #de2d26;
$dark-color: #1e1b1b;

$font-stack: 'Roboto', sans-serif;