@import url('https://fonts.googleapis.com/css?family=Roboto');

$background-color: #f4f4f4;
$primary-color: #dc3545;
$secondary-color: #ebac34;
$white-color: #fff;
$text-color: #666464;
$dark-color: #333333;

$font-stack: 'Roboto', sans-serif;